
<link rel="stylesheet" href="bookings.scss">

<div class="container-m">
  <div class="col-md-6">

    <div class="container-data">


      <div class="col-sm">
        <%= @parking.id %>
      </div>

      <div class="col-sm">
        <%= @parking.name %>
      </div>

      <div class="col-sm">
        <%= @parking.postcode %>
      </div>

    </div>

  </div>

  <div class="col-md-6">

    <div class="container-date">

      <%= form_for @booking do |f| %>
        <% if @booking.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:" %>
            </h2>
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :date %>
          <%= f.date_field :date, :id => "booking_date"%>
        </div>
        <div class="actions">
          <%= f.submit 'Save', :id => "book_button" %>
        </div>
      <% end %>
    </div>


  </div>

</div>
