= render 'shared/header'
%p#notice= notice

%p
  %b Belongs to:
  = @booking.user_id

%p
  %b Date:
  = @booking.date

= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
