<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<%= render 'shared/header' %>
<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Belongs to:</b>
  <%= @booking.user_id %>
</p>
<p>
  <b>Date:</b>
  <%= @booking.date %>
</p>
<%= link_to 'Edit', edit_booking_path(@booking) %>
\|
<%= link_to 'Back', bookings_path %>
