<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="homepage.scss">

<%= render "shared/header" %>

<div class="bg">


  <h4> <%= @parking.id %> <br>
       <%= @parking.name %> <br>
       <%= @parking.address %> <br>
       <%= @parking.location %> <br>
       <%= @parking.postcode %> <br>
       <%= @parking.telephone %> <br>
       <%= @parking.cost %> <br>
   </h4>
    <b> <%= @parking.notes %> <br> </b>
        <%= @currentUser = current_user %>
        <%= button_to "Book Now!", bookings_path(parking_id: @parking, user_id: @currentUser) %>

</div>
