<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="homepage.scss">

<%= render "shared/header" %>


<div class="bg">
  <% @results.each do |result| %>
  <%= link_to book_path( result.parkingRef ) do %>
  <h2> <%= result.parkingRef %>  <%= result.name %> </h2>
  <h3> <%= result.location %> </h3>
  <h4> <%= result.postcode %> </h4>
  <% end %>
  <br>
  <br>
  <br>
<% end %>
</div>
