<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="contact.scss">
<%= render "shared/header" %>
<div class="container-title">
  <%= t('contact.title') %>
  <%= t('contact.contact_us') %>
</div>
<div class="container-main">
  <%= form_tag request_contact_path, method: 'post' do %>
<div class ="container-body">
  <%= label_tag :name, t('.name') %>
  <%= text_field_tag :name, '', title: t('.enter_name'), :id => "name_field", :required => 'required' %>
  <%= label_tag :email, t('.email') %>
  <%= email_field_tag :email, '', title: t('.enter_email'), :id => "email_field", :required => 'required' %>
  <%= label_tag :telephone, t('.telephone') %>
  <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), :id => "telephone_field", :required => 'required' %>
</div>
<div class="container-message">
<%= label_tag :message, t('.message') %>
<%= text_field_tag :message, '', title: t('.enter_message'), size: 100 %>
</div>

<div class="offset-5">
<%= submit_tag  t('contact.submit'), :class => "btn btn-contact", :id => "contact_button" %>
</div>
<% end %>



</div>
